

{% for entity in entities %}
    <li id="menu-item-69" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-69">
        <a href="http://physiciansfolia.com/?cat=11">
            {{ entity.nomFr }}
            </a>
        </li>



{% endfor %}
